In [14]:
import psycopg2

try:
    #! 请换成自己的用户名密码
    conn = psycopg2.connect("dbname='mikedb' user='mike' host='104.198.59.118' password=''")
except:
    print("I am unable to connect to the database")
    
print(conn)

cur = conn.cursor()

cur.execute("""SELECT name, count(*) FROM exchange_example GROUP BY name""")

rows = cur.fetchall()

print ("\nShow me the databases:\n")
for row in rows:
    print ("   ", row)
    
conn.close()

I am unable to connect to the database
<connection object at 0x7f2754110180; dsn: 'user=mike password=xxx dbname=mikedb host=104.198.59.118', closed: 1>

InterfaceError: connection already closed