### Midterm Test
#### Q1 - Q4 are python questions, please add more tests (at least in total 5 tests) and complete the solutions. 
#### Q5, Q6 are numpy/pandas/plot questions.
#### Q7, Q8 are SQL questions. Use PostgreSQL as a testing tool.

#### Q1. Two Sum

Given an array of integers, return indices of the two numbers such that they add up to a specific target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

Example:

Given nums = [2, 7, 11, 15], target = 9,

Because nums[0] + nums[1] = 2 + 7 = 9,
return [0, 1].

In [2]:
def two_sum(nums, target):
    # Your Code
    return []


# Tests, should print True
print(two_sum([230,863,916,585,981,404,316,785,88,12,70,435,384,778,887,755,740,337,86,92,325,422,815,650,920,125,277,336,221,847,168,23,677,61,400,136,874,363,394,199,863,997,794,587,124,321,212,957,764,173,314,422,927,783,930,282,306,506,44,926,691,568,68,730,933,737,531,180,414,751,28,546,60,371,493,370,527,387,43,541,13,457,328,227,652,365,430,803,59,858,538,427,583,368,375,173,809,896,370,789], 542) == [28, 45])
print(two_sum([3, 3], 6) == [0, 1])

False
False

#### Q2. Three Sum
Given an array nums of n integers, are there elements a, b, c in nums such that a + b + c = 0? Find all unique triplets in the array which gives the sum of zero.

Note:

The solution set must not contain duplicate triplets.

Example:

Given array nums = [-1, 0, 1, 2, -1, -4],

A solution set is:
[
  [-1, 0, 1],
  [-1, -1, 2]
]

In [4]:
def three_sum(nums):
    # Your Code
    return []


# Tests, should print True
print(three_sum([3, 3, 3, 6, -6]) == [3, 3, -6])

False

#### Q3. Add Two Numbers

You are given two strings representing two non-negative integers. The digits are stored in reverse order and each of their nodes contain a single digit. Add the two numbers and return it as a string.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.

IMPORTANT: YOU CANNOT USE int(string) TO CONVERT A STRING TO INT.

Example:

Input: "243" + "564"
Output: "708"
Explanation: 342 + 465 = 807.

In [6]:
def add_two(first, second):
    return ""

#Test, should print True
print(add_two("588", "-3") == "585")

False

#### Q4. Next Permutation
Implement next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers.

If such arrangement is not possible, it must rearrange it as the lowest possible order (ie, sorted in ascending order).

The replacement must be in-place and use only constant extra memory.

Here are some examples. Inputs are in the left-hand column and its corresponding outputs are in the right-hand column.

1,2,3 → 1,3,2


3,2,1 → 1,2,3


1,1,5 → 1,5,1

In [8]:
def next_permutation(current):
    current[0] = 0 # this is just a demo of in-place update
    return; #do permutation in place


#Test, should print True, prove we changed in-place
test_list = [1, 2, 3]
next_permutation(test_list)
print(test_list == [0, 2, 3])

# The expected results
test_list2 = [1, 2, 3]
next_permutation(test_list2)
print(test_list2 == [1, 3, 2])

True
False

Q5. Write a Pandas program to remove last n rows of a given DataFrame.
Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

Q6. Pandas allows you to pass in a matplotlib Axis object for plots, 
and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
Like in the below example

![title](picture.png)

Q7. Customers Who Never Order
Suppose that a website contains two tables, the Customers table and the Orders table. Write a SQL query to find all customers who never order anything.

Table: Customers.

+----+-------+
| Id | Name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Table: Orders.

+----+------------+
| Id | CustomerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Using the above tables as example, return the following:

+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

Q8. Nth Highest Salary
Write a SQL query to get the nth highest salary from the Employee table.

+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
For example, given the above Employee table, the nth highest salary where n = 2 is 200. 
If there is no nth highest salary, then the query should return null.

+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+